---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/HeroHome2.astro";
import GL from "../components/GL.astro";
import GLPlaces from "../components/GlPlaces.astro";
import StepsTimeline from "../components/StepsTimeline2.astro";
---

<Layout title="Zynapse Systems LLC. - Contact">
  <HeroHome
    title="Contact Us Today"
    subtitle="Call, Email, or Use the form below to reach out!"
  />

  <StepsTimeline
    title="Contact Methods"
    items={[
      {
        title: "Phone: ",
        text: "+1 (307) 314-2311",
      },
      {
        title: "Email:",
        text: "Info@ZynapseSystems.com",
      },
      {
        title: "Contact Form:",
        text: "Use the Introductory Contact Form below to reach out and explain your needs! ",
      },
    ]}
  />

  <section class="contact">
    <div class="container">
      <div class="form-wrapper">
      <iframe
        src="https://forms.office.com/r/5TCz3PmVBB?embed=true"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        allowfullscreen
        style="border:none; width:100%; height:1000px;">
      </iframe>
      </div>
    </div>
  </section>
  <GL />
  <GLPlaces />
</Layout>

<style>
.contact {
  padding: 4rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.container p {
  margin-bottom: 2rem;
  opacity: 0.8;
}

.form-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  z-index: 9;
}

.form-wrapper iframe {
  width: 100%;
  height: 900px;
  border: none;
  z-index: 1;
}
</style>